/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
/* │                                                         │ */
/* │   COLABORADORES:                                        │ */
/* │ ► Federico Peralta                                      │ */
/* │ ► Luis Romano                                           │ */
/* │ ► Luis Fernando Callisaya Surco                         │ */
/* └─────────────────────────────────────────────────────────┘ */

#about-us {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-left: var(--margin-desktop-2);
    margin-right: var(--margin-desktop-2);
    margin-bottom: 80px;
}

.au-column-1 {
    width: calc(50% - 20px);
}

.au-column-2 {
    width: calc(55% - 20px);
}

.au-column-3 {
    width: calc(45% - 20px);
}

.au-imagen {
    width: 100%;
    border-radius: 15px;
    padding: 5px;
}

.au-text {
    font-size: 1.57vw;
    text-align: justify;
    color: var(--color-cinco);
}

.au-title {
    width: 100%;
    color: var(--color-dos);
    font-family: var(--font-family-lato);
    font-weight: 570;
    margin-bottom: 0;
}

/* ┌─────────────────────────────────────────────────────────┐ */
/* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
/* └─────────────────────────────────────────────────────────┘ */


/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY MOBILE ███████████████████████ ║
    ║ ████████████████████████████ 320 - 480  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 320px ) and (max-width: 480px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */

    #about-us {
        margin-left: var(--margin-mobile);
        margin-right: var(--margin-mobile);
    }

    .au-column-1, .au-column-2, .au-column-3 {
        width: 100%;
    }

    .a { order: 2; }
    .b { order: 1; }
    .c { order: 3; }
    .d { order: 5; }
    .e { order: 4; }

    .au-text {
        font-size: 5vw;
        text-align: justify;
        color: var(--color-cinco);
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}




/*
    ╔═════════════════════════════════════════════════════════════════════╗
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ████████████████████████ MEDIA QUERY TABLET ███████████████████████ ║
    ║ ████████████████████████████ 481 - 992  ███████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ║ ███████████████████████████████████████████████████████████████████ ║
    ╚═════════════════════════════════════════════════════════════════════╝
*/

@media (min-width: 481px ) and (max-width: 992px) {

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■ INICIO ABOUT-US ■■■■■■■■■■■■■■■■■■■■ │ */
    /* │                                                         │ */
    /* │   COLABORADORES:                                        │ */
    /* │ ► Federico Peralta                                      │ */
    /* │ ► Luis Romano                                           │ */
    /* │ ► Luis Fernando Callisaya Surco                         │ */
    /* └─────────────────────────────────────────────────────────┘ */
    
    #about-us {
        margin-left: var(--margin-desktop-1);
        margin-right: var(--margin-desktop-1);
    }

    .au-text {
        font-size: 1.8vw;
        text-align: justify;
        color: var(--color-cinco);
    }

    /* ┌─────────────────────────────────────────────────────────┐ */
    /* │ ■■■■■■■■■■■■■■■■■■■■ FIN ABOUT-US ■■■■■■■■■■■■■■■■■■■■■ │ */
    /* └─────────────────────────────────────────────────────────┘ */
}